* {
  border: 0px solid transparent;
  color: #ffffff;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
}
body {
  border: 15px solid transparent;
  border-image-source: url("https://tse3.mm.bing.net/th/id/OIP.CGdDICxateJSi0q77S5ciwHaHa?rs=1&pid=ImgDetMain&o=7&rm=30");
  border-image-slice: 15;
  min-height: 100vh;
  margin: 0;
}
div {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 2fr;
  gap: 10px;
  position: relative;
  background: url("https://tse3.mm.bing.net/th/id/OIP.CGdDICxateJSi0q77S5ciwHaHa?rs=1&pid=ImgDetMain&o=7&rm=30") ;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
p {
  background: #000000;
  top: 49%;
  left: 50%;
  font-size: 2em;
  transform: translate(-50%, -50%);
  position: absolute;
  border: 2px solid #ffffff;
  border-radius: 20px;
}
@media (max-width: 600px) {
  div {
    color: #ad1515;
    height: 100vh;
  }
}